
<!-- <div class="col-md-8">
  <div class="detail_block text-center">
    <br>
    <div xmlns:encoder="xalan://java.net.URLEncoder" id="search_options">
      <div class="row " id="solr-browse">
        <div class="col-xs-12 col-md-2 text-center col-md-offset-5">
          <a title="zurück zur Trefferliste" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest&amp;version=4.5&amp;start=0#hit_1"><span class="fa fa-chevron-up"></span></a>&nbsp;1
          von 5</div>
        <div class="col-xs-12 col-md-5 text-right">
          <a data-pagination=".caption:mods.title.main" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest&amp;fl=id&amp;origrows=5&amp;XSL.Style=browse&amp;version=4.5&amp;start=1&amp;rows=1"
            class="next" tabindex="0" title="DINI-Zertifikat für Open-Access-Repositorien und -Publikationsdienste 2013"><span class="fa fa-chevron-right icon"></span><span class="caption">DINI-Zertifikat für Open-Access-Repositorien und -Publikationsdienste 2013</span></a>
        </div>
      </div>
    </div>
    <div id="permalink" style="display: none;">
      <span class="linklabel">Link zum Dokument : </span><span class="linktext"><a href="http://www.mycore.de/mir/receive/mir_mods_00000003">http://www.mycore.de/mir/receive/mir_mods_00000003</a></span>
    </div>
  </div>
</div> -->