 <div class="panel panel-default">
  <div data-toggle="collapse-next" class="panel-heading">
    <h3 class="panel-title">Typ</h3>
  </div>
  <div class="panel-body collapse in">
    <ul class="filter">
      <li>
        <div class="checkbox">
          <label><input onclick="location.href='http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest&amp;fq=mods.type:article';" type="checkbox"></label>
          <span
            class="title">Artikel / Aufsatz</span><span class="hits">3</span>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label><input onclick="location.href='http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest&amp;fq=mods.type:poster';" type="checkbox"></label>
          <span
            class="title">Poster</span><span class="hits">1</span>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label><input onclick="location.href='http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest&amp;fq=mods.type:series';" type="checkbox"></label>
          <span
            class="title">Serie</span><span class="hits">1</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div data-toggle="collapse-next" class="panel-heading">
    <h3 class="panel-title">Institution</h3>
  </div>
  <div class="panel-body collapse in">
    <div class="dropdown container-fluid row">
      <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle col-md-12 col-xs-12">Filter<span class="caret"></span></button>
      <ul style="max-height: 500px; overflow-y: scroll;" role="menu" class="dropdown-menu dropdown-menu-right">
        <li>
          <a title="Universität in Deutschland" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis%22"
            class="">Universität in Deutschland</a>
        </li>
        <li>
          <a title="Universität Dresden" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Dresden%22"
            class="">Universität Dresden</a>
        </li>
        <li>
          <a title="Universität Duisburg-Essen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Essen%22"
            class="">Universität Duisburg-Essen</a>
        </li>
        <li>
          <a title="Universität Freiburg" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Freiburg%22"
            class="">Universität Freiburg</a>
        </li>
        <li>
          <a title="Universität Greifswald" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Greifswald%22"
            class="">Universität Greifswald</a>
        </li>
        <li>
          <a title="Universität Hamburg" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Hamburg%22"
            class="">Universität Hamburg</a>
        </li>
        <li>
          <a title="Universität Jena" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Jena%22"
            class="">Universität Jena</a>
        </li>
        <li>
          <a title="Universität Kiel" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Kiel%22"
            class="">Universität Kiel</a>
        </li>
        <li>
          <a title="Universität Leipzig" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Leipzig%22"
            class="">Universität Leipzig</a>
        </li>
        <li>
          <a title="Technische Universität München" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.TUMuenchen%22"
            class="">Technische Universität München</a>
        </li>
        <li>
          <a title="Universität Münster" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Muenster%22"
            class="">Universität Münster</a>
        </li>
        <li>
          <a title="Universität Rostock" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AUnis.Rostock%22"
            class="">Universität Rostock</a>
        </li>
        <li>
          <a title="Firmen in Deutschland" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AFirma%22"
            class="">Firmen in Deutschland</a>
        </li>
        <li>
          <a title="IBM" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AFirma.IBM%22"
            class="">IBM</a>
        </li>
        <li>
          <a title="DUR Consult" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AFirma.Reber%22"
            class="">DUR Consult</a>
        </li>
        <li>
          <a title="Andere" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22mir_institutes%5C%3AOther%22"
            class="">Andere</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div data-toggle="collapse-next" class="panel-heading">
    <h3 class="panel-title">Sachgruppe der DNB</h3>
  </div>
  <div class="panel-body collapse in">
    <div class="dropdown container-fluid row">
      <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle col-md-12 col-xs-12">Filter<span class="caret"></span></button>
      <ul style="max-height: 500px; overflow-y: scroll;" role="menu" class="dropdown-menu dropdown-menu-right">
        <li>
          <a title="000 Allgemeines, Wissenschaft" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A000%22"
            class="">000 Allgemeines, Wissenschaft</a>
        </li>
        <li>
          <a title="004 Informatik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A004%22"
            class="">004 Informatik</a>
        </li>
        <li>
          <a title="010 Bibliographien" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A010%22"
            class="">010 Bibliographien</a>
        </li>
        <li>
          <a title="020 Bibliotheks- und Informationswissenschaft" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A020%22"
            class="">020 Bibliotheks- und Informationswissenschaft</a>
        </li>
        <li>
          <a title="030 Enzyklopädien" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A030%22"
            class="">030 Enzyklopädien</a>
        </li>
        <li>
          <a title="050 Zeitschriften, fortlaufende Sammelwerke" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A050%22"
            class="">050 Zeitschriften, fortlaufende Sammelwerke</a>
        </li>
        <li>
          <a title="060 Organisationen, Museumswirtschaft" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A060%22"
            class="">060 Organisationen, Museumswirtschaft</a>
        </li>
        <li>
          <a title="070 Nachrichtenmedien, Journalismus, Verlagswesen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A070%22"
            class="">070 Nachrichtenmedien, Journalismus, Verlagswesen</a>
        </li>
        <li>
          <a title="080 Allgemeine Sammelwerke" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A080%22"
            class="">080 Allgemeine Sammelwerke</a>
        </li>
        <li>
          <a title="090 Handschriften, seltene Bücher" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A090%22"
            class="">090 Handschriften, seltene Bücher</a>
        </li>
        <li>
          <a title="100 Philosophie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A100%22"
            class="">100 Philosophie</a>
        </li>
        <li>
          <a title="130 Parapsychologie, Okkultismus" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A130%22"
            class="">130 Parapsychologie, Okkultismus</a>
        </li>
        <li>
          <a title="150 Psychologie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A150%22"
            class="">150 Psychologie</a>
        </li>
        <li>
          <a title="200 Religion, Religionsphilosophie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A200%22"
            class="">200 Religion, Religionsphilosophie</a>
        </li>
        <li>
          <a title="220 Bibel" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A220%22"
            class="">220 Bibel</a>
        </li>
        <li>
          <a title="230 Theologie, Christentum" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A230%22"
            class="">230 Theologie, Christentum</a>
        </li>
        <li>
          <a title="290 Andere Religionen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A290%22"
            class="">290 Andere Religionen</a>
        </li>
        <li>
          <a title="300 Sozialwissenschaften, Soziologie, Anthropologie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A300%22"
            class="">300 Sozialwissenschaften, Soziologie, Anthropologie</a>
        </li>
        <li>
          <a title="310 Statistik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A310%22"
            class="">310 Statistik</a>
        </li>
        <li>
          <a title="320 Politik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A320%22"
            class="">320 Politik</a>
        </li>
        <li>
          <a title="330 Wirtschaft" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A330%22"
            class="">330 Wirtschaft</a>
        </li>
        <li>
          <a title="333.7 Natürliche Ressourcen, Energie und Umwelt" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A333.7%22"
            class="">333.7 Natürliche Ressourcen, Energie und Umwelt</a>
        </li>
        <li>
          <a title="355 Militär" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A355%22"
            class="">355 Militär</a>
        </li>
        <li>
          <a title="340 Recht" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A340%22"
            class="">340 Recht</a>
        </li>
        <li>
          <a title="350 Öffentliche Verwaltung" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A350%22"
            class="">350 Öffentliche Verwaltung</a>
        </li>
        <li>
          <a title="360 Soziale Probleme, Sozialdienste, Versicherungen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A360%22"
            class="">360 Soziale Probleme, Sozialdienste, Versicherungen</a>
        </li>
        <li>
          <a title="370 Erziehung, Schul- und Bildungswesen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A370%22"
            class="">370 Erziehung, Schul- und Bildungswesen</a>
        </li>
        <li>
          <a title="380 Handel, Kommunikation, Verkehr" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A380%22"
            class="">380 Handel, Kommunikation, Verkehr</a>
        </li>
        <li>
          <a title="390 Bräuche, Etikette, Folklore" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A390%22"
            class="">390 Bräuche, Etikette, Folklore</a>
        </li>
        <li>
          <a title="400 Sprache, Linguistik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A400%22"
            class="">400 Sprache, Linguistik</a>
        </li>
        <li>
          <a title="420 Englisch" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A420%22"
            class="">420 Englisch</a>
        </li>
        <li>
          <a title="430 Deutsch" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A430%22"
            class="">430 Deutsch</a>
        </li>
        <li>
          <a title="439 Andere germanische Sprachen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A439%22"
            class="">439 Andere germanische Sprachen</a>
        </li>
        <li>
          <a title="440 Französisch, romanische Sprachen allgemein" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A440%22"
            class="">440 Französisch, romanische Sprachen allgemein</a>
        </li>
        <li>
          <a title="450 Italienisch, Rumänisch, Rätoromanisch" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A450%22"
            class="">450 Italienisch, Rumänisch, Rätoromanisch</a>
        </li>
        <li>
          <a title="460 Spanisch, Portugiesisch" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A460%22"
            class="">460 Spanisch, Portugiesisch</a>
        </li>
        <li>
          <a title="470 Latein" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A470%22"
            class="">470 Latein</a>
        </li>
        <li>
          <a title="480 Griechisch" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A480%22"
            class="">480 Griechisch</a>
        </li>
        <li>
          <a title="490 Andere Sprachen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A490%22"
            class="">490 Andere Sprachen</a>
        </li>
        <li>
          <a title="491.8 Slawische Sprachen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A491.8%22"
            class="">491.8 Slawische Sprachen</a>
        </li>
        <li>
          <a title="500 Naturwissenschaften" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A500%22"
            class="">500 Naturwissenschaften</a>
        </li>
        <li>
          <a title="510 Mathematik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A510%22"
            class="">510 Mathematik</a>
        </li>
        <li>
          <a title="520 Astronomie, Kartographie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A520%22"
            class="">520 Astronomie, Kartographie</a>
        </li>
        <li>
          <a title="530 Physik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A530%22"
            class="">530 Physik</a>
        </li>
        <li>
          <a title="540 Chemie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A540%22"
            class="">540 Chemie</a>
        </li>
        <li>
          <a title="550 Geowissenschaften" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A550%22"
            class="">550 Geowissenschaften</a>
        </li>
        <li>
          <a title="560 Paläontologie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A560%22"
            class="">560 Paläontologie</a>
        </li>
        <li>
          <a title="570 Biowissenschaften, Biologie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A570%22"
            class="">570 Biowissenschaften, Biologie</a>
        </li>
        <li>
          <a title="580 Pflanzen (Botanik)" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A580%22"
            class="">580 Pflanzen (Botanik)</a>
        </li>
        <li>
          <a title="590 Tiere (Zoologie)" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A590%22"
            class="">590 Tiere (Zoologie)</a>
        </li>
        <li>
          <a title="600 Technik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A600%22"
            class="">600 Technik</a>
        </li>
        <li>
          <a title="610 Medizin, Gesundheit" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A610%22"
            class="">610 Medizin, Gesundheit</a>
        </li>
        <li>
          <a title="620 Ingenieurwissenschaften und Maschinenbau" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A620%22"
            class="">620 Ingenieurwissenschaften und Maschinenbau</a>
        </li>
        <li>
          <a title="620.1 Materialwissenschaften" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A620.1%22"
            class="">620.1 Materialwissenschaften</a>
        </li>
        <li>
          <a title="621 Energie-, Elektrotechnik &amp; Maschinenbau" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A621%22"
            class="">621 Energie-, Elektrotechnik &amp; Maschinenbau</a>
        </li>
        <li>
          <a title="621.0 Energietechnik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A621.0%22"
            class="">621.0 Energietechnik</a>
        </li>
        <li>
          <a title="621.3 Elektrotechnik, Elektronik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A621.3%22"
            class="">621.3 Elektrotechnik, Elektronik</a>
        </li>
        <li>
          <a title="621.8 Maschinenbau" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A621.8%22"
            class="">621.8 Maschinenbau</a>
        </li>
        <li>
          <a title="622 Bergbau" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A622%22"
            class="">622 Bergbau</a>
        </li>
        <li>
          <a title="624 Ingenieurbau und Umwelttechnik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A624%22"
            class="">624 Ingenieurbau und Umwelttechnik</a>
        </li>
        <li>
          <a title="628 Umwelttechnik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A628%22"
            class="">628 Umwelttechnik</a>
        </li>
        <li>
          <a title="630 Landwirtschaft, Veterinärmedizin" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A630%22"
            class="">630 Landwirtschaft, Veterinärmedizin</a>
        </li>
        <li>
          <a title="640 Hauswirtschaft und Familienleben" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A640%22"
            class="">640 Hauswirtschaft und Familienleben</a>
        </li>
        <li>
          <a title="650 Management" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A650%22"
            class="">650 Management</a>
        </li>
        <li>
          <a title="660 Technische Chemie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A660%22"
            class="">660 Technische Chemie</a>
        </li>
        <li>
          <a title="669 Hüttenwesen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A669%22"
            class="">669 Hüttenwesen</a>
        </li>
        <li>
          <a title="670 Industrielle und handwerkliche Fertigung" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A670%22"
            class="">670 Industrielle und handwerkliche Fertigung</a>
        </li>
        <li>
          <a title="690 Hausbau, Bauhandwerk" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A690%22"
            class="">690 Hausbau, Bauhandwerk</a>
        </li>
        <li>
          <a title="700 Künste, Bildende Kunst allgemein" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A700%22"
            class="">700 Künste, Bildende Kunst allgemein</a>
        </li>
        <li>
          <a title="710 Landschaftsgestaltung, Raumplanung" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A710%22"
            class="">710 Landschaftsgestaltung, Raumplanung</a>
        </li>
        <li>
          <a title="720 Architektur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A720%22"
            class="">720 Architektur</a>
        </li>
        <li>
          <a title="730 Plastik, Numismatik, Keramik, Metallkunst" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A730%22"
            class="">730 Plastik, Numismatik, Keramik, Metallkunst</a>
        </li>
        <li>
          <a title="740 Zeichnung, Kunsthandwerk" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A740%22"
            class="">740 Zeichnung, Kunsthandwerk</a>
        </li>
        <li>
          <a title="741.5 Comics, Cartoons, Karikaturen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A741.5%22"
            class="">741.5 Comics, Cartoons, Karikaturen</a>
        </li>
        <li>
          <a title="750 Malerei" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A750%22"
            class="">750 Malerei</a>
        </li>
        <li>
          <a title="760 Grafische Verfahren, Drucke" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A760%22"
            class="">760 Grafische Verfahren, Drucke</a>
        </li>
        <li>
          <a title="770 Fotografie, Computerkunst" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A770%22"
            class="">770 Fotografie, Computerkunst</a>
        </li>
        <li>
          <a title="780 Musik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A780%22"
            class="">780 Musik</a>
        </li>
        <li>
          <a title="790 Freizeitgestaltung, Darstellende Kunst" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A790%22"
            class="">790 Freizeitgestaltung, Darstellende Kunst</a>
        </li>
        <li>
          <a title="791 Öffentliche Darbietungen, Film, Rundfunk" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A791%22"
            class="">791 Öffentliche Darbietungen, Film, Rundfunk</a>
        </li>
        <li>
          <a title="792 Theater, Tanz" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A792%22"
            class="">792 Theater, Tanz</a>
        </li>
        <li>
          <a title="793 Spiel" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A793%22"
            class="">793 Spiel</a>
        </li>
        <li>
          <a title="796 Sport" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A796%22"
            class="">796 Sport</a>
        </li>
        <li>
          <a title="800 Literatur, Rhetorik, Literaturwissenschaft" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A800%22"
            class="">800 Literatur, Rhetorik, Literaturwissenschaft</a>
        </li>
        <li>
          <a title="810 Englische Literatur Amerikas" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A810%22"
            class="">810 Englische Literatur Amerikas</a>
        </li>
        <li>
          <a title="820 Englische Literatur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A820%22"
            class="">820 Englische Literatur</a>
        </li>
        <li>
          <a title="830 Deutsche Literatur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A830%22"
            class="">830 Deutsche Literatur</a>
        </li>
        <li>
          <a title="839 Literatur in anderen germanischen Sprachen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A839%22"
            class="">839 Literatur in anderen germanischen Sprachen</a>
        </li>
        <li>
          <a title="840 Französische Literatur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A840%22"
            class="">840 Französische Literatur</a>
        </li>
        <li>
          <a title="850 Italienische, rumänische, rätoromanische Literatur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A850%22"
            class="">850 Italienische, rumänische, rätoromanische Literatur</a>
        </li>
        <li>
          <a title="860 Spanische und portugiesische Literatur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A860%22"
            class="">860 Spanische und portugiesische Literatur</a>
        </li>
        <li>
          <a title="870 Lateinische Literatur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A870%22"
            class="">870 Lateinische Literatur</a>
        </li>
        <li>
          <a title="880 Griechische Literatur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A880%22"
            class="">880 Griechische Literatur</a>
        </li>
        <li>
          <a title="890 Literatur in anderen Sprachen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A890%22"
            class="">890 Literatur in anderen Sprachen</a>
        </li>
        <li>
          <a title="891.8 Slawische Literatur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A891.8%22"
            class="">891.8 Slawische Literatur</a>
        </li>
        <li>
          <a title="900 Geschichte" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A900%22"
            class="">900 Geschichte</a>
        </li>
        <li>
          <a title="910 Geografie, Reisen" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A910%22"
            class="">910 Geografie, Reisen</a>
        </li>
        <li>
          <a title="914.3 Geografie, Reisen (Deutschland)" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A914.3%22"
            class="">914.3 Geografie, Reisen (Deutschland)</a>
        </li>
        <li>
          <a title="920 Biografie, Genealogie, Heraldik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A920%22"
            class="">920 Biografie, Genealogie, Heraldik</a>
        </li>
        <li>
          <a title="930 Alte Geschichte, Archäologie" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A930%22"
            class="">930 Alte Geschichte, Archäologie</a>
        </li>
        <li>
          <a title="940 Geschichte Europas" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A940%22"
            class="">940 Geschichte Europas</a>
        </li>
        <li>
          <a title="943 Geschichte Deutschlands" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A943%22"
            class="">943 Geschichte Deutschlands</a>
        </li>
        <li>
          <a title="950 Geschichte Asiens" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A950%22"
            class="">950 Geschichte Asiens</a>
        </li>
        <li>
          <a title="960 Geschichte Afrikas" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A960%22"
            class="">960 Geschichte Afrikas</a>
        </li>
        <li>
          <a title="970 Geschichte Nordamerikas" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A970%22"
            class="">970 Geschichte Nordamerikas</a>
        </li>
        <li>
          <a title="980 Geschichte Südamerikas" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A980%22"
            class="">980 Geschichte Südamerikas</a>
        </li>
        <li>
          <a title="990 Geschichte der übrigen Welt" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3A990%22"
            class="">990 Geschichte der übrigen Welt</a>
        </li>
        <li>
          <a title="B Belletristik" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3AB%22"
            class="">B Belletristik</a>
        </li>
        <li>
          <a title="K Kinder- und Jugendliteratur" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3AK%22"
            class="">K Kinder- und Jugendliteratur</a>
        </li>
        <li>
          <a title="S Schulbücher" href="http://www.mycore.de/mir/servlets/solr/find?owner=createdby%3Aguest%2Bcategory.top%3A%22SDNB%5C%3AS%22"
            class="">S Schulbücher</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default mir-search-options-date">
  <div data-toggle="collapse-next" class="panel-heading">
    <h3 class="panel-title">Datum der Veröffentlichung</h3>
  </div>
  <div class="panel-body collapse in">
    <div class="dropdown container-fluid row">
      <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle col-md-12 col-xs-12">Filter<span class="caret"></span></button>
      <div role="menu" class="dropdown-menu dropdown-menu-right stopAutoclose col-md-12 mir-date-arrowTop">
        <div class="container-fluid">
          <div class="col-md-12 form-group">
            <select class="form-control"><option value="=">=</option><option value=">">&gt;</option><option value=">=">&gt;=</option><option value="<">&lt;</option><option value="<=">&lt;=</option></select>
          </div>
          <div class="col-md-12 form-group dateContainer">
            <div class="col-md-4">
              <input style="padding: 0.4em" max="31" min="1" type="number" placeholder="DD" class="form-control">
            </div>
            <div class="col-md-4">
              <input style="padding: 0.4em" max="12" min="1" type="number" placeholder="MM" class="form-control">
            </div>
            <div class="col-md-4">
              <input style="padding: 0.1em" max="2050" min="1000" type="number" placeholder="YYYY" class="form-control">
            </div>
          </div>
          <div class="col-md-12 form-group">
            <input value="Go!" class="btn btn-default form-control" type="button" id="dateSearch">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 