<div class="pull-right">
  <div xmlns:piutil="xalan://org.mycore.mir.pi.MCRPIUtil" class="btn-group btn-group-justified">
    <a href="#"
      class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> auf die Merkliste</a>
    <div class="btn-group">
      <a data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" href="#"><i class="fa fa-cog"></i> Aktionen<span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <a href="#">Um das Dokument zu bearbeiten melden sie sich bitte an.</a>
        </li>
      </ul>
    </div>
  </div>
</div>